@model WaterService.FrontEnd.WebUI.Models.Pages.Cliente_OrdenesDeCompra
@{
    ViewBag.Title = "Ordenes de Compra";
}
@Html.HiddenFor(x => x.ClienteModelo.id)

@Html.Partial("_PasosCliente", Model.ClienteModelo)


<div class="tabbable">    

    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
        
         <li class="">
            <a href="/Clientes/DatosFacturacion/@Model.ClienteModelo.id">Datos de Facturación</a>
        </li>
        
        <li class="active">
            <a data-toggle="tab" href="#home4">Órdenes de Compra</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home4" class="tab-pane active">
			
                        <button id="btn_agregarOrden" type="button" class="btn btn-white btn-default btn-round">
                <i class="ace-icon fa fa-plus-square-o  red2"></i>
                Agregar Orden
            </button>

            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Ordenes Activas</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="row">

                            <div class="col-xs-12">
                                <!-- <div class="table-responsive"> -->
                                <!-- <div class="dataTables_borderWrap"> -->
                                <div>
                                    <table id="tb_resultadoOrdenesActivas" class="   table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Orden</th>
                                                <th>Articulo</th>
                                                <th>Vigencia</th>
                                                <th>Consumo</th>
                                                <th>Precio</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.OrdenesDeCompra_Activas)
                                                {
                                                <tr>
                                                    <td>@item.id</td>

                                                    <td>
                                                        @if (item.tipoItemOrdenDeCompra_ids == 1)
                                                        {
                                                            <span>@item.nombreArticuloAbono </span>
                                                        }
                                                        else if (item.tipoItemOrdenDeCompra_ids == 2)
                                                        {
                                                             <span>@item.nombreArticuloComodato</span>
                                                        }
                                                        else if (item.tipoItemOrdenDeCompra_ids==3)
                                                        {
                                                            <span>@item.nombreArticuloLista</span>
                                                        }
                                                        
                                                        
                                                    </td>

                                                    <td>
                                                        
                                                        @if (item.vigenciaXCantidad)
                                                        {
                                                            <span>Cantidad: @item.cantidadVigencia.Value</span>
                                                        }else if (item.vigenciaXFecha)
                                                        {
                                                            <span>
                                                                  Desde @(item.fechaVigenciaDesde.HasValue?item.fechaVigenciaDesde.Value.ToString("dd/MM/yyyy"):"") 
                                                        hasta @(item.fechaVigenciaHasta.HasValue?item.fechaVigenciaHasta.Value.ToString("dd/MM/yyyy"):"")
                                                            </span>
                                                        }
                                                        
                                                    </td>

                                                    <td>@item.cantidadConsumida</td>

                                                    <td>@item.precioPactado</td>

                                                    <td>
                                                        <div class="hidden-sm hidden-xs action-buttons">
                                                            <a class="green" href="javascript: Modelo.AbrirDialogoEdit(@item.id);" >
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                            </a>
                                                            <a class="orange" href="javascript: AbrirArchivos('ORDENES_DE_COMPRA', @item.id); " >
                                                                <i class="ace-icon fa  fa-paperclip bigger-130"></i>
                                                            </a>
                                                           @* <a class="red"href="javascript: Modelo.DesactivarComodato(@item.id);">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                            </a>*@
                                                        </div>
                                                    </td>
                                                </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Ordenes Inactivos</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">

                        <div class="row">

                            <div class="col-xs-12">
                                <div>
                                    <table id="tb_resultadoOrdenesNoActivos" class="   table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Orden</th>
                                                <th>Articulo</th>
                                                <th>Vigencia</th>
                                                <th>Consumida</th>
                                                <th>Precio</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.OrdenesDeCompra_Inactivas)
                                                {
                                                <tr>
                                                    <td>@item.id</td>

                                                    <td>
                                                         @if (item.tipoItemOrdenDeCompra_ids == 1)
                                                        {
                                                            <span>@item.nombreArticuloAbono </span>
                                                        }
                                                        else if (item.tipoItemOrdenDeCompra_ids == 2)
                                                        {
                                                             <span>@item.nombreArticuloComodato</span>
                                                        }
                                                        else if (item.tipoItemOrdenDeCompra_ids==3)
                                                        {
                                                            <span>@item.nombreArticuloLista</span>
                                                        }
                                                    </td>

                                                    <td>@item.cantidadVigencia - @item.fechaVigenciaDesde hasta @item.fechaVigenciaHasta</td>

                                                    <td>@item.cantidadConsumida</td>

                                                    <td>@item.precioPactado</td>
                                                </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="div_addOrden" title=" --- Orden ---">
                <div id="div_OrdenContent"></div>
            </div>


        </div>
    </div>
</div>

<script src="~/js/Views/Clientes_OrdenesDeCompra.js"></script>
