@model WaterService.FrontEnd.WebUI.Models.Pages.Cliente_Index

@{
    ViewBag.Title = "Editar Domicilio";
}

<h2>Buscar Clientes</h2>

@using (Html.BeginForm("BuscarClientes", "Clientes", FormMethod.Post, new { id = "form_buscar", name = "form_buscar", @class = "form-horizontal", role = "form" }))
{                    
    <fieldset>
        
        <div class="col-sm-6">

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right">Cliente</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="clearfix">
                        @Html.TextBoxFor(x=>x.datosCliente, new { fieldType="text", errorMessage=" ", @class=" col-xs-10 col-sm-8 ", placeholder="nombre, dni, razón social",type="text"})
                    </div>                                
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>
                            
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right">Domicilio</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="clearfix">
                        @Html.TextBoxFor(x=>x.domicilio, new { fieldType="text", errorMessage=" ", @class=" col-xs-10 col-sm-8 ", placeholder="ciudad, barrio, calle",type="text"})
                    </div>                                
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right">Repartos</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="clearfix">
                        @Html.DropDownListFor(x => x.reparto_id, new SelectList(Model.Repartos, "id", "nombreReparto"), new { @class="input-group col-xs-10 col-sm-8"})
                    </div>                                
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>      
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right">Día</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="clearfix">
                        @Html.DropDownListFor(x => x.dia_id, new SelectList(Model.Dias, "valor_ids", "valorTexto"), new { @class = "input-group col-xs-10 col-sm-8" })
                    </div>
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>                       
                        
        </div>

        <div class="col-sm-6">
                                                  
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right">Tipo</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="clearfix">
                        @Html.DropDownListFor(x => x.tipo_id, new SelectList(Model.TiposClientes, "valor_ids", "valorTexto"), new { @class="input-group col-xs-10 col-sm-8"})
                    </div>                                
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>                         
                        
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right">Estado</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="clearfix">
                        @Html.DropDownListFor(x => x.estado_id, new SelectList(Model.EstadosClientes, "valor_ids", "valorTexto"), new { @class="input-group col-xs-10 col-sm-8"})
                    </div>                                
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>                         
                        
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right">Promotor</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="clearfix">
                        @Html.DropDownListFor(x => x.promotor_id, new SelectList(Model.Promotores, "usuario_id", "nombreApellido"), new { @class="input-group col-xs-10 col-sm-8"})
                    </div>                                
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>                   
            
            
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right">Teléfono</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="clearfix">
                        @Html.TextBoxFor(x=>x.telefono, new { fieldType="text", errorMessage=" ", @class=" col-xs-10 col-sm-8 ", placeholder="teléfono: 351421431",type="text"})
                    </div>                                
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>
                      
        </div>
                        
    </fieldset>                    
                    
	<div class="form-actions center">

		<button type="submit" id="btn_submit" class="btn btn-sm btn-primary">
			Buscar Clientes
			<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
		</button>

        <a href="/Clientes/Create" id="btn_nuevaCliente" class="btn btn-sm btn-success">
            Nuevo Cliente
		    <i class="ace-icon fa fa-plus icon-on-right bigger-110"></i>
        </a>

	</div>
} 

<div id="div_resultadoBusqueda">


</div>

<script src="~/js/Views/Clientes_Index.js"></script>
