@model WaterService.FrontEnd.WebUI.Models.Pages.Calle_Edit

<script src="~/js/Views/Calles_Edit.js"></script>

<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">Datos principales: @Model.CalleModelo.nombreCalle</h4>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">

            @using (Html.BeginForm("EditCalle", "Calles", FormMethod.Post, new { id = "form_edit", name = "form_edit", @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(x => x.CalleModelo.id)

                <fieldset>

                    @* nombreCalle *@
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">Nombre calle</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                @Html.TextBoxFor(
                                x => x.CalleModelo.nombreCalle,
                                new
                                {
                                    fieldType = "text",
                                    errorMessage = "Ingrese el nombre de la calle",
                                    @class = "validate col-xs-10 col-sm-8 ",
                                    placeholder = "nombre de la calle",
                                    type = "text"
                                })
                            </div>
                            <div class="mensajeValidacion help-block"></div>
                        </div>
                    </div>

                    <div class="col-sm-6">

                        @* codigoExterno *@
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-4 no-padding-right">Código Externo</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="clearfix">
                                    @Html.TextBoxFor(x => x.CalleModelo.codigoExterno,
                                                        new
                                                        {
                                                            fieldType = "text",
                                                            errorMessage = "Ingrese el Código Externo ",
                                                            @class = "validate col-xs-10 col-sm-8 ",
                                                            placeholder = "código externo de la calle",
                                                            type = "text"
                                                        })
                                </div>
                                <div class="mensajeValidacion help-block"></div>
                            </div>
                        </div>


                        @* Ciudad *@
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-4 no-padding-right">Ciudad</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="clearfix">
                                    <div class="clearfix">
                                        @Html.DropDownListFor(x => x.CalleModelo.ciudad_id,
                                                            new SelectList(Model.Ciudades, "id", "nombreCiudad"),
                                                            new { @class = "input-group col-xs-10 col-sm-8" })
                                    </div>
                                    <div class="mensajeValidacion help-block"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>                
                <div class="form-actions center">
                    <button type="button" id="btn_guardarCalle" class="btn btn-sm btn-success">
                        Guardar
							<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                    </button>
                </div>
            }
        </div>
    </div>
</div>


