@model WaterService.FrontEnd.WebUI.Models.Pages.Repartos_ConfigurarRuta
@{
    ViewBag.Title = "Edit";

}

<style>

    .registroEncontrado {        
    background: maroon;
    }

</style>

<div class="form-actions center">


    @if (ViewBag.ClienteActual ==null)
    {        
        <div class="col-sm-3 ">
            <select class="form-control " id="cmb_dias">
	            <option value="1">Lunes</option>
	            <option value="2">Martes</option>
	            <option value="3">Miercoles</option>
	            <option value="4">Jueves</option>
	            <option value="5">Viernes</option>
	            <option value="6">Sábado</option>
	            <option value="7">Domingo</option>		
            </select>
        </div>

        <div class="col-sm-3 ">
            <select class="form-control " id="cmb_repartos">
                @foreach (var item in Model.Repartos)
                {
                    <option value="@item.id">@item.nombreReparto</option>
                }
            </select>
        </div>

        <button type="button" id="btn_obtenerReparto" class="btn btn-sm btn-success">
		    Obtener Reparto
		    <i class="ace-icon fa fa-refresh icon-on-right bigger-110"></i>
	    </button>
    }
   
    <button id="btn_GuardarCambios" class="btn btn-white btn-info btn-bold">
	    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
	    Guardar Cambios
    </button>

    @if (ViewBag.ClienteActual ==null)
    {
         <a class="btn btn-danger btn-sm hasTooltip" title="Volver a repartos"  href="/Repartos/OrdenClientes">
             <i class="ace-icon fa fa-reply icon-only"></i>
         </a>

         <a href="/Repartos/MapaReparto?reparto_id=@Model.RepartoModelo.id&dia_id=@Model.DiaId" class="btn btn-white btn-warning btn-bold">
             <i class="ace-icon fa fa-map-marker bigger-120 orange"></i>
             Mapa
         </a>
     
    }
</div>

@using (Html.BeginForm("ConfigurarRuta", "Repartos", FormMethod.Post, new { id = "form_hojaDeRuta"}))
{
	<div class="row">        

		<div class="col-sm-6"  >
        <h3 class="header blue lighter smaller">
		    <i class="ace-icon fa fa-question-circle smaller-90"></i>
		    Clientes sin asignar
	    </h3>
		<div class="dd" id="list_NoAsignados" style="overflow-y:scroll; height:420px;">

            @if (Model.ClientesSinAsignar == null || Model.ClientesSinAsignar.Count == 0)
            {
                <div class="dd-empty"></div>
            }
            else
            { 
                <ol class="dd-list" >
                    @Html.EditorFor(x=>x.ClientesSinAsignar)
				</ol>
            }
            				
			</div>
		</div>

		<div class="vspace-16-sm"></div>

            @if (ViewBag.ClienteActual !=null)
            {
                <span class="center">&nbsp;&nbsp; Orden actual: @( Convert.ToInt32(((WaterService.Common.Entities.DTOs.VIEW_ClientesXRepartos_DTO ) ViewBag.ClienteActual).orden) )</span>
            }

		<div class="col-sm-6" >

            <div class="nav-search" id="nav-search">
		        <div class="form-search">
			        <span class="input-icon">
				        <input type="text" placeholder="nombre del cliente, [orden], (id cliente)" class=".nav-search-input-buscarClientes" style="width: 300px;" id="txt_buscarCliente" autocomplete="off">
				        <i class="ace-icon fa fa-search nav-search-icon"></i>
			        </span>
		        </div>
	        </div>

        <h3 class="header blue lighter smaller">
		    <i class="ace-icon fa fa-bars smaller-90"></i>
		    Clientes asignados 
            
	    </h3>

			<div class="dd dd-draghandle" id="list_Ordenados" style="overflow-y:scroll; height:420px;">

                @if (Model.ClientesHojaDeRuta == null || Model.ClientesHojaDeRuta.Count == 0)
                {
                    <div class="dd-empty"></div>
                }
                else{
            	
                    <ol class="dd-list" >
					      @Html.EditorFor(x=>x.ClientesHojaDeRuta)
				    </ol>            
                }


			</div>
		</div>
	</div>
}
<script src="~/assets/js/jquery.nestable.min.js"></script>
<script src="~/js/Views/Repartos_ConfigurarRuta.js"></script>
