@model WaterService.FrontEnd.WebUI.Models.Pages.Comodato_Cliente_Create

@{
    Layout = null;
}
<br />
 @using (Html.BeginForm("CreateFromCliente", "Comodatos", FormMethod.Post, new { id = "form_create", name = "form_create", @class = "form-horizontal", role = "form" }))
    {
      @Html.HiddenFor(x => x.Cliente_id);
      @Html.HiddenFor(x => x.ComodatoModel.id);
      @Html.HiddenFor(x => x.ComodatoModel.cliente_id);
      @Html.HiddenFor(x => x.ComodatoModel.fechaAlta);
      @Html.HiddenFor(x => x.ComodatoModel.fechaInactivo);

     <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right">Artículo</label>
				<div class="col-xs-12 col-sm-9">
					<div class="clearfix">
				        @Html.DropDownListFor(x => x.ComodatoModel.articulo_id, new SelectList(Model.Articulos, "id", "articulo"), new { @class="input-group col-xs-10 col-sm-12"})
                    </div>                                
                    <div class="mensajeValidacion help-block"></div>
				</div>
			</div>

		<!-- <legend>Form</legend> -->
		<fieldset>
            

		    <div class="form-group">
		        <label class="control-label col-xs-12 col-sm-3 no-padding-right">Precio $</label>
		        <div class="col-xs-12 col-sm-9">
		            <div class="clearfix">
		                @Html.TextBoxFor(x=>x.ComodatoModel.precio, new { fieldType="text", errorMessage="Ingrese precio del producto", @class="validate decimalFormat col-xs-10 col-sm-3 ", placeholder="ej: 12,4",type="text"})
		            </div>                                
		            <div class="mensajeValidacion help-block"></div>
		        </div>
		    </div>
            
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right">Cantidad</label>
                <div class="col-xs-12 col-sm-9">
                    <div class="clearfix">
                        @Html.TextBoxFor(x => x.ComodatoModel.cantidad, new { fieldType = "text", errorMessage = "Ingrese la cantidad", @class = "validate decimalFormat col-xs-10 col-sm-3 ", placeholder = "ej: 3", type = "text" })
                    </div>
                </div>
            </div>

		    <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right">Observaciones</label>
				<div class="col-xs-12 col-sm-9">
					<div class="clearfix">
						@Html.TextBoxFor(x=>x.ComodatoModel.observaciones, new { fieldType="text", errorMessage="Ingrese el sector de la empresa", @class="col-xs-10 col-sm-8 ", placeholder="",type="text"})
                    </div>                                
                    <div class="mensajeValidacion help-block"></div>
				</div>
			</div>

        </fieldset>
                    
		<div class="form-actions center">
			<button type="button" id="btn_guardarComodato" onclick="Modelo.GuardarComodato();" class="btn btn-sm btn-success">
				Guardar
				<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
			</button>
		</div>
    } 
